# dataset folder
/datasets/ISIC2018/ISIC2018_Task1-2_Training_Input
/datasets/ISIC2018/ISIC2018_Task1_Training_GroundTruth

# local files
*/.idea/
zzz*.py
# pre-trained models
/checkpoint/modified*
.idea/*
checkpoint/
rando*
runs/
.pytest_cache/
myutils/.pytest_cache/
myutils/__pycache__/
.DS_Store
pseudolabel/.DS_Store
__pycache__/

pseudolabels/*txt
pseudolabels/*csv
pseudolabels/*pth
pseudolabels/*pdf
pseudolabels/results

